<!--
  Generated template for the RoomSwitchContainerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content> -->

<!-- </ion-menu> -->
<ion-header>
  <ion-navbar>
    <ion-title class="page-header">OnPower</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment  *ngIf="rooms" color="dark" [(ngModel)]="pages">
    <ng-container  *ngFor="let room of rooms;let i=index">
    <ion-segment-button value="{{i}}" (click)="selectedTab(i)">
      {{room}}
    </ion-segment-button>
  </ng-container>
  </ion-segment>
  <ion-slides #slider (ionSlideWillChange)="moveSlider($event)">
    <ion-slide *ngFor="let room of deviceListConfiguration ;let i=index">

      <switch-box [rootedIP]="rootedIP" [totalDeviceStatus]="totalDeviceStatus" [roomIndex]="i" [deviceListConfigurationData]="room"></switch-box>
     </ion-slide>

  </ion-slides>

  <ion-fab right bottom>
    <button  ion-fab (click)="addRootedIP()" color="primary">
      <ion-icon name="add"></ion-icon>
      <ion-label>Change Rooted IP</ion-label>
    </button>
    <!-- <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top"> -->
      <!-- <button *ngIf="rooms.length > 0" ion-fab (click)="deleteRoom()" color="danger">
        <ion-icon name="trash"></ion-icon>
        <ion-label>Delete Room</ion-label>
      </button>
      <button *ngIf="rooms.length > 0  && switchBoardList.length >0" ion-fab (click)="deleteDevice()" color="danger">
        <ion-icon name="add"></ion-icon>
        <ion-label>Delete Device</ion-label>
      </button> -->
      <!-- <button  ion-fab (click)="addRootedIP()" color="primary">
        <ion-icon name="add"></ion-icon>
        <ion-label>Change Rooted IP</ion-label>
      </button> -->
      <!-- <button ion-fab (click)="addRoom()" color="light">
        <ion-icon name="add"></ion-icon>
        <ion-label>Add Room</ion-label>
      </button>
      <button  *ngIf="rooms.length > 0 && switchBoardList.length >0" ion-fab  (click)="addDevice()" color="dark">
        <ion-icon name="add"></ion-icon>
        <ion-label>Add Device</ion-label>
      </button>
      <button  *ngIf="rooms.length > 0" ion-fab  (click)="addSwitchBoard()" color="dark">
        <ion-icon name="add"></ion-icon>
        <ion-label>Add SwitchBoard</ion-label>
      </button> -->

    <!-- </ion-fab-list> -->
  </ion-fab>

</ion-content>
